p{
    padding: 0;
    margin: 0;
}
body{
    min-width: 320px;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: black;
    
}
img{
    width: 100%;
    height: auto;
}



/* header */
header .nav-item{
    margin: 0 30px;
    text-transform: uppercase;
}
header .nav-item a{
    color: #000;
}
header .nav-item a:hover{
    color:#fff;
    transition: .2s;   
}
.logo{
    color: #000;
}
.logo:hover{
    color: white;
    transition: .2s;
}
/* end of header */

/* galery */
@media screen and (max-width: 800px) {
    .catalog__description {
      display: none;
    }
  }
.catalog{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5px;
}
.col-3{
    padding: 10px 10px;
    
}
.col-3:hover{
    color: #fff;
    transition: .2s;
    background-color: #99ccff;
    border-radius: 5px;
}
.catalog__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.img__catalog{
    height: 256px;    
    width: 256px;
}
@media screen and (max-width: 1200px) {
    .img__catalog {
        height: 180px;
        width: 180px;
    }
}

@media screen and (max-width: 990px) {
    .img__catalog {
      height: 160px;
      width: 160px;
    }
  }
  @media screen and (max-width: 764px) {
    .img__catalog {
      height: 120px;
      width: 120px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .img__catalog {
      height: 110px;
      width: 110px;
    }
  }
  @media screen and (max-width: 560px) {
    .img__catalog {
      height: 100px;
      width: 100px;
    }
  }
  @media screen and (max-width: 460px) {
    .img__catalog {
      height: 80px;
      width: 80px;
    }
  }
  @media screen and (max-width: 360px) {
    .img__catalog {
      height: 60px;
      width: 60px;
    }
  }
/* end of galery */
.title{
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    
}
/* footer */
@media screen and (max-width: 800px) {
    .footer__bold__text {
      font-size: 14px;
    }
    .social__icon {
        max-width: 20px;
        max-height: 20px;
    }
}
@media screen and (max-width: 420px) {
    
    .footer__light__text {
        font-size: 12px;
    }
   
}
footer{
    width:100%;
    background-color:#99ccff;
    height: 100;
    padding: 10px 0;
    font-size: 20px;
    
}
.footer__light__text{
    font-size: 16px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__item{
    width: 33.33333%;
    max-width: 240px;
    text-align: center;  
}
.footer__bold__text{
    font-weight: 700;
}
.footer__social{
    margin-top: 5px;
}
.social__icon{
    width: 30px;
    height: 30px;
    margin: 0 3px;
    
}


footer a:hover{
    text-decoration: none;
}
footer .social__icon{
    opacity: 0.7;
}
footer .social__icon:hover{
    opacity: 1;
    transition: .2s;
}

.bank__icon{
   width: 30px;
   height: 30px;
}
/* end of footer */


/* copyright */
.copyright{
    padding: 1px 0;
    background-color: #000;
    text-align: center;
    height: 100%;
}
.copyright__text{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 3px 0;
}
.copyright:hover{
    background-color: rgba(0, 0,0,0.9);
    transition: .2s;
}

/* end of copyright*/